<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <script src="src/index.js" type="module" defer></script>
</head>
<body>
    <div id="root"></div>
    <nav class="menu">
        <a href="src/pages/auth/auth.hbs">Auth</a>
        <a href="src/pages/changeData/chData.hbs">chData</a>
        <a href="src/pages/changePassword/chPas.hbs">chPas</a>
        <a href="src/pages/chats/chats.hbs">chats</a>
        <a href="src/pages/errors/err400.hbs">err400</a>
        <a href="src/pages/errors/err500.hbs">err500</a>
        <a href="src/pages/data/data.hbs">Data</a>
        <a href="src/pages/registration/registration.hbs">registration</a>
    </nav>
    
</body>
</html>