.main__button{
    position: relative;
    width: 420px;
    height: 56px;
    font-size: 20px;
    color: var(--background);
    background-color: var(--darkBlue);
    border: none;
    border-radius: 8px;
  }