<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="auth.scss">
</head>
<body>
  <div class="auth__container">
    <h2 class="auth__title">Вход</h2>
    <form>
      {{> input/input text="Логин" name="login" }}
      {{> input/input text="Пароль" name="password"}}
      {{> button/button text="Авторизация"}}
      {{> link/link text="Нет аккаунта?" }}
    </form>
  </div>
</body>
</html>